<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Calc</title>
</head>
<body>
<form action="#" th:action="@{/calc}" th:object="${operationDto}" method="post">
    <input type="number" th:field="*{num1}" placeholder="number one" required/>
    <p th:if="${#fields.hasErrors('num1')}" th:errors="*{num1}"></p>
    <br>
    <input type="number" th:field="*{num2}" placeholder="number two" required/>
    <p th:if="${#fields.hasErrors('num2')}" th:errors="*{num2}"></p>
    <br>
    <select th:field="*{operationSign}">
        <option th:value="'sum'">+</option>
        <option th:value="'sub'">-</option>
        <option th:value="'div'">/</option>
        <option th:value="'mult'">*</option>
    </select>
    <br>
    <button type="submit">Calculate</button>
    <div th:if="${result!=null}">
        <p th:text="${result}"></p>
    </div>
    <a href="/">Go home</a>
</form>
</body>
</html>