<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
<p>Hello <span th:text="${session.user}==null ? '' : ${session.user.username}"></span>!</p>

<th:block th:if="${session.user==null}">
    <a href="/user/reg">Registration</a>
    <a href="/user/auth">Authorization</a>
</th:block>
<div th:unless="${session.user==null}">
    <a href="/calc">Calculate</a>
    <a href="/calc/history">History</a>
</div>
</body>
</html>